/*@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,700,800,800i');*/
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,700i');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
    background-color: #BEB5A4;
}

/* welcome page */

.page-title {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #BEB5A4;
    display: inline-block;
    padding-top: 10px;
}

#welcome-title {
    margin-top: 50px;
	font-size: 50px;
}

#welcome-bean {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
}

#welcome-bean img {
    height: 200px;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 40px;
/*	filter: drop-shadow(10px 10px 10px black);*/
	transition: 0.5s all;
}

#welcome-bean img:hover {
	transform: scale(1.1) rotate(10deg);
}

#dark-background {
    background-color: #3C2E21;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}

#fore-ground {
    z-index: 1;
    position: absolute;
    color: #BEB5A4;
    text-align: center;
}

#home-description {
    margin: 5% 20% 5% 20%;
    font-family: 'Josefin Sans', sans-serif;
	font-size: 19px;
}

#ugly-nav {
    color: #BEB5A4;
    text-decoration: none;
}

#ugly-nav:visited {
    color: #BEB5A4;
}



/* flavors page */

.menu-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3C2E21;
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
}

.menu-bar h1 {
    font-size: 46px;
    margin-top: 10px;
    padding-left: 5%;
    min-width: 260px;
}

.flavor-body {
    position: relative;
    top: 65px;
	margin-bottom: 70px;
}

.broad {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

/*back button styling*/
.back-container {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 32px;
	width: 100%;
	background-color: #801426;
	opacity: 50%;
	text-align: left;
	line-height: 36.7px;
	padding-left: 40px;
	transition: 0.5s all;
	cursor: pointer;
}

.back-container:hover {
	background-color: #6583bc;
}

#back-button {
    position: fixed;
    margin: 0 auto;
    bottom: 5px;
    left: 10px;
}

#coffee-bean {
    height: 140px;
    width: 140px;
    position: absolute;
    top: 145px;
    left: 10px;
}

#coffee-bean img {
    height: 140px;
    width: 140px;
	filter: drop-shadow(10px 10px 10px #696969);
}

.little-circles {
	font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
	color: white;
    border-radius: 50%;
    width: 95px;
    height: 95px;
    text-align: center;
    line-height: 95px;
    cursor: pointer;
	transition: 0.5s all;
}

.little-circles:hover {
	filter: brightness(120%);
}

.little-circles:nth-child(1) {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #e22149;
    border: 2px solid #e22149;
    box-shadow: inset 0 0 0 8px #beb5a4;
}

.little-circles:nth-child(2) {
    position: absolute;
    top: 35px;
    left: 110px;
    background-color: #484932;
    border: 2px solid #484932;
    box-shadow: inset 0 0 0 8px #beb5a4;
}

.little-circles:nth-child(3) {
    position: absolute;
    top: 110px;
    left: 200px;
    background-color: #6583bc;
    border: 2px solid #6583bc;
    box-shadow: inset 0 0 0 8px #beb5a4;
}

.little-circles:nth-child(4) {
    position: absolute;
    top: 220px;
    left: 200px;
    background-color: #c87029;
    border: 2px solid #c87029;
    box-shadow: inset 0 0 0 8px #beb5a4;
}

.little-circles:nth-child(5) {
    position: absolute;
    top: 290px;
    left: 110px;
    background-color: #f8ca34;
    border: 2px solid #f8ca34;
    box-shadow: inset 0 0 0 8px #beb5a4;
}

.little-circles:nth-child(6) {
    position: absolute;
    top: 335px;
    left: 10px;
    background-color: #58549d;
    border: 2px solid #58549d;
    box-shadow: inset 0 0 0 8px #beb5a4;
}

.narrow-circles {
    border-radius: 50%;
    width: 95px;
    height: 95px;
    text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
	font-size: 16px;
	color: white;
    cursor: pointer;
	transition: 0.5s all;
	white-space: pre-wrap;
}

.narrow-circles:hover {
	filter: brightness(120%);
}

.narrow-circles:nth-child(1) {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #e22149;
    border: 2px solid #e22149;
    box-shadow: inset 0 0 0 8px #beb5a4;
}

.narrow-circles:nth-child(2) {
    position: absolute;
    top: 35px;
    left: 110px;
    background-color: #484932;
    border: 2px solid #484932;
    box-shadow: inset 0 0 0 8px #beb5a4;
}

.narrow-circles:nth-child(3) {
    position: absolute;
    top: 110px;
    left: 200px;
    background-color: #6583bc;
    border: 2px solid #6583bc;
    box-shadow: inset 0 0 0 8px #beb5a4;
}

.narrow-circles:nth-child(4) {
    position: absolute;
    top: 220px;
    left: 200px;
    background-color: #c87029;
    border: 2px solid #c87029;
    box-shadow: inset 0 0 0 8px #beb5a4;
}

.narrow-circles:nth-child(5) {
    position: absolute;
    top: 290px;
    left: 110px;
    background-color: #f8ca34;
    border: 2px solid #f8ca34;
    box-shadow: inset 0 0 0 8px #beb5a4;
}

.narrow-circles:nth-child(6) {
    position: absolute;
    top: 335px;
    left: 10px;
    background-color: #58549d;
    border: 2px solid #58549d;
    box-shadow: inset 0 0 0 8px #beb5a4;
}

 /* Info component styles*/

.flavor-body {
	background-color: #801426;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	color: white;
	font-family: 'Josefin Sans', sans-serif;
	box-shadow: 7px 7px 7px #696969;
	margin: 15px;
	margin-bottom: 60px;
}

.flavor-body h4 {
	margin: 20px;
	padding: 15px;
	padding-bottom: 0px;
}

.flavor-body h5 {
	margin: 20px;
	padding: 15px;
	padding-bottom: 0px;
	font-size: 20px;
}

.flavor-body h3 {
	margin: 20px;
	padding: 15px;
	padding-bottom: 0px;
	font-size: 24px;
}

.your-bean {
	text-transform: uppercase;
	border-bottom: 4px solid #e22149;
	padding-bottom: 10px;
	margin: 20px;
	margin-left: 35px;
	margin-right: 35px;
}

ul {
	margin-left: 20px;
	font-size: 18px;
	line-height: 20px;
}

.show-locations, .show-pairings, .show-sim-beans {
	background-color: #e22149;
	border-radius: 15px;
	height: inherit;
	margin: 10px;
	display: flex;
    flex-wrap: wrap;
	align-items: center;
    cursor: pointer;
	transition: 0.5s all;
}

.show-locations:hover, .show-pairings:hover, .show-sim-beans:hover {
	filter: brightness(150%);
}

.show-locations h4, .show-pairings h4, .show-sim-beans h4 {
    margin-top: 0;
    margin-bottom: 0;
}

#locate, #pair, #sim {
	font-size: 40px;
	color: #6583bc;
	padding-left: 8px;
	padding-right: 15px;
}

/* NAV */

.hidden-menu{
    display: flex;
    justify-content: space-around;
	align-items: center;
    position: absolute;
    width: 80%;
    height: 80px;
    left: 0;
    top: -500px;
    transition: 0.5s all;
}

.hidden-menu-hover:hover{
    color: deeppink;
}

#hamburger {
    color: #6583bc;
    font-size: 49px;
    position: relative;
    top: 18px;
    padding-right: 5%;
    cursor: pointer;
}

/* Pairings and location on info page */

.locations, .pairings, .sim-beans {
    display: none;
	height: 0px;
}

.menu-toggle {
    background-color: #3C2E21;
    color: #6583bc;
    display: flex;
    justify-content: space-around;
    position: absolute;
    min-width: 280px;
    height: 80px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    z-index: 3;
    transition: 0.5s all;
    top: 0;
    left: 0;
    cursor: pointer;
}

.pairings-toggle, .locations-toggle, .sim-beans-toggle {
    display: flex;
    flex-direction: column;
	flex-wrap: wrap;
	height: inherit;
	transition: 0.5s all;
}

/* Bean library */

.all-beans {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    top: 100px;
}
.all-beans div {
    background-color: #801426;
    margin: 10px;
    padding: 10px;
    padding-top: 15px;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    cursor: pointer;
    transition: 0.5s all;
    border-radius: 15px;
	text-transform: uppercase;
	padding-left: 25px;
	padding-right: 25px;
}

.all-beans div:nth-child(even) {
	background-color: #6583bc;
}

.all-beans div:nth-child(even):hover {
	background-color: lightpink;
}

.all-beans p {
    border-top: 2px solid #E22149;
    padding-top: 10px;
    margin-top: 5px;
	text-transform: capitalize;
	margin-bottom: 3px;
}

.all-beans div:hover {
    background-color: #aac2e8;
}
