/*@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,700,800,800i');*/
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,700i');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
    background-color: #BEB5A4;
}

/* welcome page */

.page-title {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #BEB5A4;
    display: inline-block;
}

#welcome-title {
    margin-top: 50px;
}

#welcome-bean {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#welcome-bean img {
    height: 140px;
    width: 140px;
    margin-top: 20px;
    margin-bottom: 40px;
}

#dark-background {
    background-color: #3C2E21;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}

#fore-ground {
    z-index: 1;
    position: absolute;
    color: #BEB5A4;
    text-align: center;
}

#home-description {
    margin: 5% 20% 5% 20%;
   font-family: 'Josefin Sans', sans-serif;
}

#ugly-nav {
    color: #BEB5A4;
    text-decoration: none;
}

#ugly-nav:visited {
    color: #BEB5A4;
}



/* flavors page */

.menu-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3C2E21;
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
}

.menu-bar h1 {
    font-size: 46px;
    margin-top: 10px;
    padding-left: 5%;
    min-width: 260px;
}

.flavor-body {
    position: relative;
    top: 80px;
}

.broad {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

#back-button {
    position: fixed;
    margin: 0 auto;
    bottom: 10px;
    right: 10px;
}

#coffee-bean {
    height: 140px;
    width: 140px;
    position: absolute;
    top: 145px;
    left: 10px;
}

#coffee-bean img {
    height: 140px;
    width: 140px;
}

.little-circles {
	font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
	color: white;
    border-radius: 50%;
    width: 95px;
    height: 95px;
    text-align: center;
    line-height: 95px;
}

.little-circles:nth-child(1) {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #e22149;
    border: 2px solid #e22149;
    box-shadow: inset 0 0 0 8px #beb5a4;
}

.little-circles:nth-child(2) {
    position: absolute;
    top: 35px;
    left: 110px;
    background-color: #484932;
    border: 2px solid #484932;
    box-shadow: inset 0 0 0 8px #beb5a4;
}

.little-circles:nth-child(3) {
    position: absolute;
    top: 110px;
    left: 200px;
    background-color: #6583bc;
    border: 2px solid #6583bc;
    box-shadow: inset 0 0 0 8px #beb5a4;
}

.little-circles:nth-child(4) {
    position: absolute;
    top: 220px;
    left: 200px;
    background-color: #c87029;
    border: 2px solid #c87029;
    box-shadow: inset 0 0 0 8px #beb5a4;
}

.little-circles:nth-child(5) {
    position: absolute;
    top: 290px;
    left: 110px;
    background-color: #f8ca34;
    border: 2px solid #f8ca34;
    box-shadow: inset 0 0 0 8px #beb5a4;
}

.little-circles:nth-child(6) {
    position: absolute;
    top: 335px;
    left: 10px;
    background-color: #58549d;
    border: 2px solid #58549d;
    box-shadow: inset 0 0 0 8px #beb5a4;
}

.narrow-circles {
    border-radius: 50%;
    width: 95px;
    height: 95px;
    text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
	color: white;
}

.narrow-circles:nth-child(1) {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #e22149;
    border: 2px solid #e22149;
    box-shadow: inset 0 0 0 8px #beb5a4;
}

.narrow-circles:nth-child(2) {
    position: absolute;
    top: 35px;
    left: 110px;
    background-color: #484932;
    border: 2px solid #484932;
    box-shadow: inset 0 0 0 8px #beb5a4;
}

.narrow-circles:nth-child(3) {
    position: absolute;
    top: 110px;
    left: 200px;
    background-color: #6583bc;
    border: 2px solid #6583bc;
    box-shadow: inset 0 0 0 8px #beb5a4;
}

.narrow-circles:nth-child(4) {
    position: absolute;
    top: 220px;
    left: 200px;
    background-color: #c87029;
    border: 2px solid #c87029;
    box-shadow: inset 0 0 0 8px #beb5a4;
}

.narrow-circles:nth-child(5) {
    position: absolute;
    top: 290px;
    left: 110px;
    background-color: #f8ca34;
    border: 2px solid #f8ca34;
    box-shadow: inset 0 0 0 8px #beb5a4;
}

.narrow-circles:nth-child(6) {
    position: absolute;
    top: 335px;
    left: 10px;
    background-color: #58549d;
    border: 2px solid #58549d;
    box-shadow: inset 0 0 0 8px #beb5a4;
}

 /* Info component styles*/

.flavor-body {
	background-color: #801426;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	color: white;
	font-family: 'Josefin Sans', sans-serif;
}

.your-bean {
	text-transform: uppercase;
	border-bottom: 4px solid #e22149;
	padding-bottom: 10px;
	margin: 20px;
}

#show-locations, #show-pairings {
	background-color: #e22149;
	border-radius: 15px;
	height: 55px;
/*	width: 90%;*/
	margin: 10px;
	display: flex;
	align-items: center;
/*	justify-content: space-around;*/
}

#locate, #pair {
	font-size: 40px;
	color: #6583bc;
	padding-left: 8px;
	padding-right: 15px;
}

/* NAV */

#hidden-menu{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    background-color: #3C2E21;
    color: #6583bc;
    width: 80%;
    height: 80px;
    top: -500px;
    left: 0;
    z-index: 3;
    transition: 0.5s all;
}

.hidden-menu-hover:hover{
  color: deeppink;
}

#hamburger {
  color: #6583bc;
  font-size: 49px;
  position: relative;
  top: 18px;
  padding-right: 5%;
}

/* Pairings and location on info page */

#locations {
    display: none;
}

#pairings {
    display: none;
}

/* media query for iphone 6 */

@media screen and (min-width: 375px) {
    .little-circles {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
        color: white;
        border-radius: 50%;
        width: 115px;
        height: 115px;
        text-align: center;
        line-height: 115px;
    }

    .little-circles:nth-child(1) {
        position: absolute;
        top: -10px;
        left: 10px;
        background-color: #e22149;
        border: 2px solid #e22149;
        box-shadow: inset 0 0 0 8px #beb5a4;
    }

    .little-circles:nth-child(2) {
        position: absolute;
        top: 35px;
        left: 140px;
        background-color: #484932;
        border: 2px solid #484932;
        box-shadow: inset 0 0 0 8px #beb5a4;
    }

    .little-circles:nth-child(3) {
        position: absolute;
        top: 140px;
        left: 230px;
        background-color: #6583bc;
        border: 2px solid #6583bc;
        box-shadow: inset 0 0 0 8px #beb5a4;
    }

    .little-circles:nth-child(4) {
        position: absolute;
        top: 275px;
        left: 230px;
        background-color: #c87029;
        border: 2px solid #c87029;
        box-shadow: inset 0 0 0 8px #beb5a4;
    }

    .little-circles:nth-child(5) {
        position: absolute;
        top: 380px;
        left: 140px;
        background-color: #f8ca34;
        border: 2px solid #f8ca34;
        box-shadow: inset 0 0 0 8px #beb5a4;
    }

    .little-circles:nth-child(6) {
        position: absolute;
        top: 420px;
        left: 10px;
        background-color: #58549d;
        border: 2px solid #58549d;
        box-shadow: inset 0 0 0 8px #beb5a4;
    }

    .narrow-circles {
        border-radius: 50%;
        width: 115px;
        height: 115px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
        color: white;
    }

    .narrow-circles:nth-child(1) {
        position: absolute;
        top: -10px;
        left: 10px;
        background-color: #e22149;
        border: 2px solid #e22149;
        box-shadow: inset 0 0 0 8px #beb5a4;
    }

    .narrow-circles:nth-child(2) {
        position: absolute;
        top: 35px;
        left: 140px;
        background-color: #484932;
        border: 2px solid #484932;
        box-shadow: inset 0 0 0 8px #beb5a4;
    }

    .narrow-circles:nth-child(3) {
        position: absolute;
        top: 140px;
        left: 230px;
        background-color: #6583bc;
        border: 2px solid #6583bc;
        box-shadow: inset 0 0 0 8px #beb5a4;
    }

    .narrow-circles:nth-child(4) {
        position: absolute;
        top: 275px;
        left: 230px;
        background-color: #c87029;
        border: 2px solid #c87029;
        box-shadow: inset 0 0 0 8px #beb5a4;
    }

    .narrow-circles:nth-child(5) {
        position: absolute;
        top: 380px;
        left: 140px;
        background-color: #f8ca34;
        border: 2px solid #f8ca34;
        box-shadow: inset 0 0 0 8px #beb5a4;
    }

    .narrow-circles:nth-child(6) {
        position: absolute;
        top: 420px;
        left: 10px;
        background-color: #58549d;
        border: 2px solid #58549d;
        box-shadow: inset 0 0 0 8px #beb5a4;
    }

}


@media screen and (min-width: 768px) {

    /* welcome page */

    #dark-background {
        height: 100%;
        margin: 0;

    }

    #welcome-title {
        font-size: 48px;
    }

    #welcome-bean {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }



    #welcome-bean img {
        height: 280px;
        width: 280px;
    }

    #fore-ground {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }

    #home-description {
        max-width: 30%;
    }


/* broad component, flavors page */
    .broad {
        display: flex;
        position: absolute;
        justify-content: center;
        justify-self: center;
        margin: 0 auto;
        margin-left: 5%;
        margin-right: 5%;
/*      max-width: 80%;*/
    }

    #coffee-bean {
        display: none;
    }


    .little-circles {
        text-align: center;
        height: 175px;
        width: 420px;
        border-radius: 0;
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
    }

    .little-circles:nth-child(1) {
        position: static;
        background-color: #e22149;
        border: 2px solid #e22149;
        box-shadow: inset 0 0 0 8px #beb5a4;
        order: 1;
    }

    .little-circles:nth-child(2) {
        position: static;
        background-color: #484932;
        border: 2px solid #484932;
        box-shadow: inset 0 0 0 8px #beb5a4;
        order: 1;
    }

    .little-circles:nth-child(3) {
        position: static;
        background-color: #6583bc;
        border: 2px solid #6583bc;
        box-shadow: inset 0 0 0 8px #beb5a4;
        order: 1;
    }

    .little-circles:nth-child(4) {
        position: static;
        background-color: #c87029;
        border: 2px solid #c87029;
        box-shadow: inset 0 0 0 8px #beb5a4;
        order: 3;
    }

    .little-circles:nth-child(5) {
        position: static;
        background-color: #f8ca34;
        border: 2px solid #f8ca34;
        box-shadow: inset 0 0 0 8px #beb5a4;
        order: 3;
    }

    .little-circles:nth-child(6) {
        position: static;
        background-color: #58549d;
        border: 2px solid #58549d;
        box-shadow: inset 0 0 0 8px #beb5a4;
        order: 3;
    }

    #desktop-background {
        background-color: transparent;
    }
  
    .narrow {
      display: flex;
      position: absolute;
      justify-content: center;
      justify-self: center;
      flex-wrap: wrap;
      margin: 0 auto;
      margin-left: 5%;
      margin-right: 5%;
      font-size: 24px;
    }

    .narrow-circles {
        height: 175px;
        width: 420px;
        border-radius: 0;
    }

    .narrow-circles:nth-child(1) {
        position: static;
        background-color: #e22149;
        border: 2px solid #e22149;
        box-shadow: inset 0 0 0 8px #beb5a4;

    }

    .narrow-circles:nth-child(2) {
        position: static;
        background-color: #484932;
        border: 2px solid #484932;
        box-shadow: inset 0 0 0 8px #beb5a4;
    }

    .narrow-circles:nth-child(3) {
        position: static;
        background-color: #6583bc;
        border: 2px solid #6583bc;
        box-shadow: inset 0 0 0 8px #beb5a4;
    }

    .narrow-circles:nth-child(4) {
        position: static;
        background-color: #c87029;
        border: 2px solid #c87029;
        box-shadow: inset 0 0 0 8px #beb5a4;
    }

    .narrow-circles:nth-child(5) {
        position: static;
        background-color: #f8ca34;
        border: 2px solid #f8ca34;
        box-shadow: inset 0 0 0 8px #beb5a4;
    }

    .narrow-circles:nth-child(6) {
        position: static;
        background-color: #58549d;
        border: 2px solid #58549d;
        box-shadow: inset 0 0 0 8px #beb5a4;
    }

  
    /* INFO PAGE */
    .flavor-body {
      max-width: 70%;
      margin: 0 auto;
    }
    
}

