@media screen and (min-width: 768px) {

    /* welcome page */

    #dark-background {
        height: 100%;
        margin: 0;

    }

    #welcome-title {
        font-size: 48px;
    }

    #welcome-bean {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }



    #welcome-bean img {
        height: 280px;
        width: 280px;
    }

    #fore-ground {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }

    #home-description {
        max-width: 30%;
    }


/* broad component, flavors page */
    .broad {
        display: flex;
        position: absolute;
        justify-content: center;
        justify-self: center;
        margin: 0 auto;
        margin-left: 5%;
        margin-right: 5%;
        max-width: 80%;
    }

    #coffee-bean {
        display: none;


    .little-circles {
        text-align: center;
    }
        height: 175px;
        width: 420px;
        border-radius: 0;
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
    }

    .little-circles:nth-child(1) {
        position: static;
        background-color: #e22149;
        border: 2px solid #e22149;
        box-shadow: inset 0 0 0 8px #beb5a4;
        order: 1;
    }

    .little-circles:nth-child(2) {
        position: static;
        background-color: #484932;
        border: 2px solid #484932;
        box-shadow: inset 0 0 0 8px #beb5a4;
        order: 1;
    }

    .little-circles:nth-child(3) {
        position: static;
        background-color: #6583bc;
        border: 2px solid #6583bc;
        box-shadow: inset 0 0 0 8px #beb5a4;
        order: 1;
    }

    .little-circles:nth-child(4) {
        position: static;
        background-color: #c87029;
        border: 2px solid #c87029;
        box-shadow: inset 0 0 0 8px #beb5a4;
        order: 3;
    }

    .little-circles:nth-child(5) {
        position: static;
        background-color: #f8ca34;
        border: 2px solid #f8ca34;
        box-shadow: inset 0 0 0 8px #beb5a4;
        order: 3;
    }

    .little-circles:nth-child(6) {
        position: static;
        background-color: #58549d;
        border: 2px solid #58549d;
        box-shadow: inset 0 0 0 8px #beb5a4;
        order: 3;
    }

    #desktop-background {
        background-color: transparent;
    }
  
    .narrow {
      display: flex;
      position: absolute;
      justify-content: center;
      justify-self: center;
      flex-wrap: wrap;
      margin: 0 auto;
      margin-left: 5%;
      margin-right: 5%;
      font-size: 24px;
    }

    .narrow-circles {
        height: 175px;
        width: 420px;
        border-radius: 0;
    }

    .narrow-circles:nth-child(1) {
        position: static;
        background-color: #e22149;
        border: 2px solid #e22149;
        box-shadow: inset 0 0 0 8px #beb5a4;

    }

    .narrow-circles:nth-child(2) {
        position: static;
        background-color: #484932;
        border: 2px solid #484932;
        box-shadow: inset 0 0 0 8px #beb5a4;
    }

    .narrow-circles:nth-child(3) {
        position: static;
        background-color: #6583bc;
        border: 2px solid #6583bc;
        box-shadow: inset 0 0 0 8px #beb5a4;
    }

    .narrow-circles:nth-child(4) {
        position: static;
        background-color: #c87029;
        border: 2px solid #c87029;
        box-shadow: inset 0 0 0 8px #beb5a4;
    }

    .narrow-circles:nth-child(5) {
        position: static;
        background-color: #f8ca34;
        border: 2px solid #f8ca34;
        box-shadow: inset 0 0 0 8px #beb5a4;
    }

    .narrow-circles:nth-child(6) {
        position: static;
        background-color: #58549d;
        border: 2px solid #58549d;
        box-shadow: inset 0 0 0 8px #beb5a4;
    }

  
    /* INFO PAGE */
    .flavor-body {
      max-width: 70%;
      margin: 0 auto;
    }
    
}
